* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
button {
  background: transparent;
  border: none;
  font-size: 1rem;
  color: var(--Medium-Gray);
  font-weight: 500;
  cursor: pointer;
}
button:hover {
  color: var(--Almost-Black);
}
h1 {
  font-size: 2rem;
}
/* 
=======================================
=======================================
            navigation
=======================================
=======================================
*/
.nav-buttons {
  display: none;
}
.nav-center {
  width: 90vw;
  margin: 1.5rem auto;
}
.logo-and-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* sidebar */
.sidebar-container {
  width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.644);
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}
.sidebar {
  width: 14rem;
  height: 100%;
  position: absolute;
  background: white;
  top: 0;
  right: 0;
  padding: 2rem;
  transform: translateX(100%);
  transition: 0.5s;
}
.show-sidebar {
  opacity: 1;
  z-index: 2;
}
.show-sidebar .sidebar {
  transform: translateX(0);
}
.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
/* sidebar nav links */
.nav-links-container {
  list-style: none;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.nav-links-container button {
  margin-bottom: 1rem;
  margin-right: 0.4rem;
  font-weight: 500;
}
.login-buttons {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.register-btn {
  outline: 0.05rem solid var(--Medium-Gray);
  padding: 0.5em 1em;
  border-radius: 0.3rem;
}
.register-btn:hover {
  color: var(--Almost-Black);
  outline: 0.05rem solid var(--Almost-Black);
}
/* sidebar submenu */
.sidebar-submenu {
  list-style: none;
  margin-left: 1.5rem;
  display: none;
}
.sidebar-submenu img {
  margin-right: 0.5rem;
}
.show-sidebar-submenu {
  display: block;
}
/* 
=======================================
=======================================
            image section
=======================================
=======================================
*/
main {
  display: grid;
  gap: 3rem;
}
.image-section img {
  width: 100%;
}
.text-section {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-bottom: 1.5rem;
}
p {
  font-size: 0.9rem;
  margin: 0 auto;
  color: var(--Medium-Gray);
  text-align: justify;
  margin-bottom: 2rem;
}
.learn-more-btn {
  background: var(--Almost-Black);
  padding: 0.8em 1.3em;
  color: var(--Almost-White);
  border-radius: 0.6rem;
  font-weight: 700;
  margin-bottom: 3rem;
  transition: 0.2s;
}
.learn-more-btn:hover {
  color: var(--Almost-Black);
  background: var(--Almost-White);
  outline: 0.1rem solid var(--Almost-Black);
}
.clients-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-bottom: 3rem;
}
.clients-list img {
  width: 80%;
  cursor: pointer;
}
