* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
}
